body{
    padding-top: 5%;
    padding-bottom: 55px;
}
.signup-content
{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7%;
}
html,body
{
    background: #4b6cb7 !important;
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7) !important;
    background: linear-gradient(to right, #182848, #4b6cb7) !important;
}

.card
{
    border: 0px !important;
}

.btn-light {
    color: var(--white) !important;
    background-color: #F2C33E !important;
    border-color: #F2C33E !important;
}

.btn-light:hover {
    color: var(--white) !important;
    background-color: rgba(240, 191, 59, 0.87) !important;
    border-color: rgba(242, 194, 62, 0.904) !important;
}
#btnSave
{
    background-color: #082B49 !important;
    border: 1px solid #031e35 !important;
}
#btnSave:hover
{
    background-color: rgba(8, 43, 73, 0.863) !important;
    border: 1px solid #031e35ea !important;
}
#logo_home
{
    cursor: pointer !important;
}